extends layout

block content
    .wrapper
        #header
            a(href="http://rebeluncut.co.uk")
                img.logo(src="img/logo-halloween.png")
            h1 So you wanna be in our gang? 
            p YAY! You've chosen to become one with your inner Rebel on #RebelsUnleashed <br> Be warned. Competition for 'Best Rebel' is fierce. It might be time to up your game . . . 

        #feed
            ul#instafeed
            .more Show more

        #notice
            h2 Feels like time for coffee and a catch up. Call us, maybe?
            p 

        #footer 
            a(href="http://rebeluncut.co.uk")
                img(src="img/orange-awesome.png")