extends layout

block content
    .wrapper
        #header
            a(href="http://rebeluncut.co.uk")
                img.logo(src="img/logo-halloween.png")
            h1 The Rebellion wish you a spoooooky Halloween
            p If you received one of our special boxes, we want to see your best fancy dress! Use the included selfie stick and post silly photos of your team on Instagram with #JoinTheRebellion! They'll automatically appear below.

        #feed
            ul#instafeed
            .more Show more

        #notice
            h2 In case you missed it, Rebel Uncut are now a fully fledged digital agency.
            p Let's have coffee and catch up! Call us maybe?

        #footer 
            a(href="http://rebeluncut.co.uk")
                img(src="img/orange-awesome.png")