doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Rebel Uncut wish you a spoooooky Halloween')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Rebel Uncut Halloween
    != css()

  body
    block content

    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="bats/halloween-bats.js")
    != js()