@import url(https://fonts.googleapis.com/css?family=Creepster|Open+Sans:300);

@import "bourbon/bourbon";
@import "neat/neat";

@mixin omega-reset($nth) {
	&:nth-child(#{$nth}) { margin-right: flex-gutter(); }
	&:nth-child(#{$nth}+1) { clear: none }
}

$orange: #F47B26;
$orange-dark: #DE5200;
$padding: 3rem;
$font-special: "Creepster", sans-serif;

* {
	font-family: "Open Sans", sans-serif;
}

body {
	background: $orange;
	margin: 0;
	padding: $padding;
}

.wrapper {
	@include outer-container;
	padding: 0 $padding;
}

#header {
	img.logo {
		height: $padding * 2;
		display: block;
		margin: 0 auto;
	}
	h1 {
		font-family: $font-special;
		text-align: center;
		margin-top: 1em;
		margin-bottom: 1em;
		color: white;
		font-size: 3rem;
	}
	p {
		color: white;
		text-align: center;
		font-size: 1.25em;
		line-height: 2;
	}
}

#feed {
	ul {
		padding-left: 0;
		@include span-columns(12);
		li {
			list-style-type: none;
			@include span-columns(4 of 12);
			@include omega(3n);
			margin-bottom: 2.25%;
			a {
				img {
					width: 100%;
				}
			}
			&:nth-child(n+7) {
				display: none;
				&.active {
					display: block;
				}
			}
		}
	}
	.more {
		text-align: center;
		color: $orange-dark;
		font-family: $font-special;
		font-size: 1.5em;
	}
}

#notice {
	@include span-columns(12);
	margin-top: $padding;
	margin-bottom: $padding;
	text-align: center;
	* {
		color: white;
	}
}

#footer {
	img {
		margin: 0 auto;
		display: block;
		margin-top: $padding * 2;
	}
}

// Responsive

@media screen and (max-width: 550px) {
	body {
		padding: $padding / 2;
	}
	.wrapper {
		padding: 0;
	}
	#header {
		h1 {
			font-size: 1.5em;
			margin-top: 2rem;
		}
		p {
			font-size: 0.8em;
		}
	}
	#feed ul li {
		@include omega-reset(3n);
		@include span-columns(6 of 12);
		@include omega(2n);
	}

	#notice {
		margin-top: $padding / 2;
		margin-bottom: $padding / 2;
	}

	#footer img {
		width: 50%;
		margin: 0 auto;
		display: block;
		margin-bottom: $padding / 2;
	}
	.halloweenBat {
		display: none !important;
		visibility: hidden !important;
		opacity: 0 !important;
	}
}
